# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints/

# ==========================
# Virtual Environment
# ==========================
venv/
.venv/
env/
ENV/

# ==========================
# IDE
# ==========================
.vscode/
.idea/

# ==========================
# OS Files
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Model Files
# ==========================
# model/*.pkl
# model/*.joblib
# model/*.h5
# model/*.keras
model/*/pipeline.pkl
Real Estate Model/pipeline.pkl
# ==========================
# Logs
# ==========================
*.log

# ==========================
# Build
# ==========================
build/
dist/
*.egg-info/

# ==========================
# DVC Cache (if using DVC)
# ==========================
.dvc/cache/
.dvc/tmp/

# ==========================
# Environment Variables
# ==========================
.env
.env.*

# ==========================
# Pytest
# ==========================
.pytest_cache/

# ==========================
# Mypy
# ==========================
.mypy_cache/

# ==========================
# Coverage
# ==========================
.coverage
htmlcov/

# ==========================
# Coverage
# ==========================
Dump/**
